<section class="section scrollable">
    <div class="scrollable-content">
        <form class="" ng-submit="count(data)" name="inputForm" data-toggle="validator">
            <h2>Ціль</h2>

            <div class="form-group">
                <label for="inputType" class="control-label">Xaрактер</label>
                <select class="form-control" id="inputType" ng-model="data.type"
                        ng-options="t.value as t.label for t in types">
                </select>

            </div>
            <div class="form-group">
                <label for="inputTarget" class="control-label">Ціль</label>
                <input type="text" class="form-control" id="inputTarget">
            </div>
            <div class="form-group" show-errors="">
                <label for="inputDistance" class="control-label">Дальність</label>
                <input type="number" class="form-control" id="inputDistance" ng-model="data.distance"
                       name="inputDistance"
                       max="1730" min="1" required>
                <span ng-show="inputForm.inputDistance.$dirty && inputForm.inputDistance.$invalid" class="help-block">
                    <span ng-show="inputForm.inputDistance.$error.required">Дистанція до цілі обов"язкова</span>
                    <span ng-show="inputForm.inputDistance.$error.max">Дальність стрільби за межами ТТХ</span>
                    <span ng-show="inputForm.inputDistance.$error.min">Введіть позитивне значення</span>
                    <span ng-show="inputForm.inputDistance.$error.number">Введіть число</span>
                </span>
            </div>
            <div class="form-group">
                <label for="inputElevation" class="control-label">Висота</label>
                <input type="number" class="form-control" id="inputElevation" ng-model="data.targetElevation"
                       required>
            </div>
            <div class="form-group" ng-click="tapOnTargetSize()">
                <label for="inputFront" class="control-label">Фронт</label>
                <input type="number" class="form-control" id="inputFront"
                       ng-disabled="singleTarget()" ng-model="data.front" required>
            </div>
            <div class="form-group" ng-click="tapOnTargetSize()">
                <label for="inputDepth" class="control-label">Глибина</label>
                <input type="number" class="form-control" id="inputDepth"
                       ng-disabled="singleTarget()" ng-model="data.depth" required>
            </div>

            <div class="form-group">
                <label for="inputTrajectory" class="control-label">Траекторія</label>
                <select class="form-control" id="inputTrajectory" ng-model="data.trajectory"
                        ng-options="t.value as t.label for t in trajectories">
                </select>
            </div>
            <div class="form-group">
                <label for="inputTask" class="control-label">Завдання</label>
                <select class="form-control" id="inputTask" ng-model="data.task"
                        ng-options="t.value as t.label for t in tasks" required>
                </select>
            </div>
            <h2>Вогнева позиція</h2>

            <div class="form-group">
                <label for="inputPositionHeight" class="control-label">Висота</label>
                <input type="number" class="form-control" id="inputPositionHeight"
                       ng-model="data.positionElevation" required>
            </div>
            <div class="form-group">
                <label for="inputDevicesNumber" class="control-label">Кількість гранатометів</label>
                    <select class="form-control" id="inputDevicesNumber" ng-model="data.devicesNumber"
                            ng-options="t.value as t.label for t in counts" required>
                    </select>
            </div>
            <div class="form-group">
                <label for="inputDevicesInterval" class="control-label">Інтервал</label>
                    <input type="number" class="form-control" id="inputDevicesInterval" ng-model="data.interval">
            </div>
            <div class="form-group">
                <label for="inputTemperature" class="control-label">Температура повітря</label>
                    <input type="number" class="form-control" id="inputTemperature" ng-model="data.temperature">
            </div>
            <div class="form-group">
                <label for="inputWindDirection" class="control-label">Кут вітру (по годиннику)</label>
                    <input type="number" class="form-control" id="inputWindDirection" ng-model="data.windDirection">
            </div>
            <div class="form-group">
                <label for="inputWindSpeed" class="control-label">Швидкість вітру м/c</label>
                    <input type="number" class="form-control" id="inputWindSpeed" ng-model="data.windSpeed">
            </div>
            <h2>Стрільба з закритої позиції</h2>

            <div class="form-group">
                <label for="crestHeight" class="control-label">Перевищення гребеня над ВП</label>
                <input type="number" class="form-control" id="crestHeight"
                       ng-model="data.crestHeight">
            </div>
            <div class="form-group">
                <label for="crestDistance" class="control-label">Відстань до гребеня</label>
                <input type="number" class="form-control" id="crestDistance"
                       ng-model="data.crestDistance">
            </div>
            <button type="submit" class="btn btn-default">Розрахувати</button>
        </form>
        <div class="panel panel-default" ng-show="calculated()">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Результат
                </h4>
            </div>
            <div class="panel-body">
                <h1 ng-show="result.invalid" class="text-danger">
                    Дальність стрільби за межами ТТХ
                </h1>

                <p>Приціл: {{ result.sights.adjustedSights | s: 'numberFormat': [0, '', ''] }}</p>

                <p>Поправка напрямку {{ result.sights.sideAdjustment | s: 'numberFormat': [2, '', ''] }} тис.</p>

                <p>Фронт для 1 АГС {{ result.sights.oneDeviceFront | s: 'numberFormat': [2, '', ''] }} тис</p>

                <p ng-show="showFrontDispersal()">Необхідне розсіювання по фронту, 15 м = {{
                    result.sights.frontDispersal | s: 'numberFormat': [2, '', '']}} тис</p>

                <p ng-show="showFan()">Віяло для АГС, що зліва: {{ result.sights.fan | s: 'numberFormat': [2, '', ''] }}
                    тис</p>

                <p>Розхід по {{ result.grenadesConsumption.grenadesPerDevice | s: 'numberFormat': [0, '', ''] }}
                    гран/АГС</p>

                <p>Вузька вилка {{ result.sights.thinFork }}</p>

                <p>ΔX тис {{ result.sights.distanceChangePer1M }} м</p>

                <p>Час польоту {{ result.sights.flightTime }} с</p>

                <p ng-show="showMinimalSights()">Мінімальний приціл {{ result.minimalSights.minimalSights }}</p>

                <p ng-show="showMinimalSights()">Мінімальна відстань до гребеня даної висоти {{
                    result.minimalSights.minimalDistance }} м</p>
            </div>
        </div>
        <div class="panel panel-default" ng-show="calculated()">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Відладочна інформація
                </h4>
            </div>
            <div class="panel-body">
                <p>Вектор вітру по напрямку стрільби: {{ result.meteoAdjustments.forwardWind }} м/с</p>

                <p>Поправка на вітер (дистанція {{ data.distance }}): {{
                    result.meteoAdjustments.forwardWindAdjustment }}</p>

                <p>Поправка на температуру повітря і зарядів (дистанція {{ data.distance }}): {{
                    result.meteoAdjustments.temperatureOfAirAdjustment }} + {{
                    result.meteoAdjustments.temperatureOfShellAdjustment }}</p>

                <p>Поправка на тиск (дистанція {{ data.distance }}): {{ result.meteoAdjustments.pressureAdjustment
                    }}</p>

                <p>Ефективна дистанція (топографічна + метеопоправки): {{ result.meteoAdjustments.effectiveDistance
                    }}</p>

                <p>Поправка на перевищення (кут, використовується топографічна дальність {{
                    data.distance }}): {{ result.sights.angleAdjustment }}</p>

                <p>Приціл для опорної дальності {{ result.sights.supportDistance}}: {{ result.sights.supportSights
                    }}</p>

                <p>Поправка на різницю з опорною дальністю: {{ result.sights.precisionAdjustment }}, поправлене значення
                    прицілу: {{ result.sights.originalSights }} </p>

                <p>Результат прицілювання - рахується як приціл + поправка на
                    перевищення:
                    {{ result.sights.originalSights + result.sights.angleAdjustment }}</p>

                <p>Вектор вітру поперечний до напрямку стрільби (якщо на 3 годину - плюс, на 9 - мінус): {{
                    result.meteoAdjustments.sideWind }} </p>

                <p>Поправка на боковий вітер (з таблиці на дальність {{ data.distance }}): {{
                    result.meteoAdjustments.sideWindAdjustment }}</p>

                <p>Поправка на деривацію (для {{data.distance}}): {{
                    result.sights.derivationAdjustment }}</p>

                <p>Сума бокових поправок (повинна дорівнювати значенню поправки напрямку в панелі результатів):
                    {{ result.sights.sideWindAdjustment + result.sights.derivationAdjustment }} / 100</p>

                <p>Для розрахунку вузької вилки використовується топодистанція, а не ефективна</p>

                <p>Дельта Х береться відносно ефективної дистанції, а не топо</p>

                <p>Час польоту береться відносно топо дистанції</p>
                <pre>
{{ data | json }}
{{ result | json }}
  </pre>
            </div>
        </div>

    </div>
</section>
