<section class="section scrollable">
    <div class="scrollable-content">
        <form class="form-horizontal" ng-submit="count(data)">
            <h2>Ціль</h2>

            <div class="form-group">
                <label for="inputType" class="col-sm-2 control-label">Xaрактер</label>

                <div class="col-sm-10">
                    <select class="form-control" id="inputType" ng-model="data.type"
                            ng-options="t.value as t.label for t in types">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTarget" class="col-sm-2 control-label">Ціль</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputTarget">
                </div>
            </div>
            <div class="form-group">
                <label for="inputDistance" class="col-sm-2 control-label">Дальність</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputDistance" ng-model="data.distance" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputElevation" class="col-sm-2 control-label">Висота</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputElevation" ng-model="data.targetElevation"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputFront" class="col-sm-2 control-label">Фронт</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputFront" ng-model="data.front" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDepth" class="col-sm-2 control-label">Глибина</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputDepth" ng-model="data.depth" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTrajectory" class="col-sm-2 control-label">Траекторія</label>

                <div class="col-sm-10">
                    <select class="form-control" id="inputTrajectory" ng-model="data.trajectory"
                            ng-options="t.value as t.label for t in trajectories">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTask" class="col-sm-2 control-label">Задача</label>

                <div class="col-sm-10">
                    <select class="form-control" id="inputTask" ng-model="data.task"
                            ng-options="t.value as t.label for t in tasks" required>
                    </select>
                </div>
            </div>
            <h2>Вогнева позиція</h2>

            <div class="form-group">
                <label for="inputPositionHeight" class="col-sm-2 control-label">Висота</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputPositionHeight"
                           ng-model="data.positionElevation" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDevicesNumber" class="col-sm-2 control-label">Кількість гранатометів</label>

                <div class="col-sm-10">
                    <select class="form-control" id="inputDevicesNumber" ng-model="data.devicesNumber"
                            ng-options="t.value as t.label for t in counts" required>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDevicesInterval" class="col-sm-2 control-label">Інтервал</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputDevicesInterval" ng-model="data.interval">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTemperature" class="col-sm-2 control-label">Температура повітря</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputTemperature" ng-model="data.temperature">
                </div>
            </div>
            <div class="form-group">
                <label for="inputWindDirection" class="col-sm-2 control-label">Кут вітру (по годиннику)</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputWindDirection" ng-model="data.windDirection">
                </div>
            </div>
            <div class="form-group">
                <label for="inputWindSpeed" class="col-sm-2 control-label">Швидкість вітру м/c</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputWindSpeed" ng-model="data.windSpeed">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Розрахувати</button>
        </form>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Результат
                </h4>
            </div>
            <div class="panel-body">
                <p>Приціл: {{ result.sights.adjustedSights | number: 0 }}</p>

                <p>Поправка напрямку {{ result.sights.sideAdjustment | number: 2 }} тис.</p>

                <p>Фронт для 1 АГС {{ result.sights.oneDeviceFront | number: 2 }} тис</p>

                <p ng-show="showFrontDispersal()">Необхідне розсіювання по фронту, 15 м = {{
                    result.sights.frontDispersal | number: 2 }} тис</p>

                <p ng-show="showFan()">Віяло: {{ result.sights.fan | number: 2 }} тис</p>

                <p>Розхід по {{ result.grenades.grenadesPerDevice | number: 0 }} гран/АГС</p>

                <p>Вузька вилка {{ result.sights.thinFork }}</p>

                <p>ΔX тис {{ result.sights.distanceChangePer1M }} м</p>

                <p>Час польоту {{ result.sights.flightTime }} с</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Відладочна інформація
                </h4>
            </div>
            <div class="panel-body"> <pre>
{{ data | json }}
{{ result | json }}
  </pre>
            </div>
        </div>

    </div>
</section>
