<section class="section scrollable">
    <div class="scrollable-content">
        <div class="container">
            <form class="form-horizontal" ng-submit="count(data)" name="inputForm"
                  data-toggle="validator">
                <div class="row">
                    <div class="col-xs-6 target-inputs">
                        <div class="form-group">
                            <label for="inputType" class="col-xs-6">Xaрактер цілі</label>

                            <div class="col-xs-6">
                                <select class="form-control" id="inputType" ng-model="data.type"
                                        ng-options="t.value as t.label for t in types"></select>
                            </div>
                        </div>
                        <div class="form-group" show-errors="">
                            <label for="inputDistance" class="control-label col-xs-6">Дальність</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputDistance" ng-model="data.distance"
                                           name="inputDistance" max="1730" min="1" required="">
                                    <span class="input-group-addon">м</span>
                                </div>
                                        <span ng-show="inputForm.inputDistance.$dirty &amp;&amp; inputForm.inputDistance.$invalid"
                                              class="help-block">
                                            <span ng-show="inputForm.inputDistance.$error.required">Дальність до цілі обов"язкова</span>
                                            <span ng-show="inputForm.inputDistance.$error.max">Дальність стрільби за межами ТТХ</span>
                                            <span ng-show="inputForm.inputDistance.$error.min">Введіть позитивне значення</span>
                                            <span ng-show="inputForm.inputDistance.$error.number">Введіть число</span>
                                        </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputElevation" class="control-label col-xs-6">Висота</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputElevation"
                                           ng-model="data.targetElevation"
                                           required="">
                                    <span class="input-group-addon">м</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="extendedTarget()">
                            <label for="inputFront" class="control-label col-xs-6">Фронт</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputFront" ng-model="data.front"
                                           ng-required="extendedTarget()">
                                    <span class="input-group-addon">м</span>
                                </div>
                                <span ng-show="inputForm.inputFront.$dirty &amp;&amp; inputForm.inputFront.$invalid"
                                      class="help-block">
                                            <span ng-show="inputForm.inputFront.$error.required">Фронт цілі обов"язковий</span>
                                        </span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="extendedTarget()">
                            <label for="inputDepth" class="control-label col-xs-6">Глибина</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputDepth" ng-model="data.depth"
                                           ng-required="extendedTarget()">
                                    <span class="input-group-addon">м</span>
                                    <span ng-show="inputForm.inputDepth.$dirty &amp;&amp; inputForm.inputDepth.$invalid"
                                          class="help-block">
                                            <span ng-show="inputForm.inputDepth.$error.required">Глибина цілі обов"язкова</span>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-show="movingTarget()">
                            <label for="targetVelocityDirection" class="control-label col-xs-6">Напрямок руху</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="targetVelocityDirection"
                                           ng-model="data.targetVelocityDirection" ng-required="movingTarget()">
                                    <span class="input-group-addon">год</span>
                                </div>

                                <span ng-show="inputForm.targetVelocityDirection.$dirty &amp;&amp; inputForm.targetVelocityDirection.$invalid"
                                                                          class="help-block">
                                            <span ng-show="inputForm.targetVelocityDirection.$error.required">Напрямок руху цілі обов"язковий</span>
                                    </span>

                            </div>
                        </div>
                        <div class="form-group" ng-show="movingTarget()">
                            <label for="targetVelocity" class="control-label col-xs-6">Швидкість</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="targetVelocity"
                                           ng-model="data.targetVelocity" ng-required="movingTarget()">
                                    <span class="input-group-addon">км/год</span>
                                </div>

                                <span ng-show="inputForm.targetVelocity.$dirty &amp;&amp; inputForm.targetVelocity.$invalid"
                                      class="help-block">
                                            <span ng-show="inputForm.targetVelocity.$error.required">Швидкість руху цілі обов"язкова</span>
                                    </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTrajectory" class="control-label col-xs-6">Траекторія</label>

                            <div class="col-xs-6">
                                <select class="form-control" id="inputTrajectory" ng-model="data.trajectory"
                                        ng-options="t.value as t.label for t in trajectories"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTask" class="control-label col-xs-6">Завдання</label>

                            <div class="col-xs-6">
                                <select class="form-control" id="inputTask" ng-model="data.task"
                                        ng-options="t.value as t.label for t in tasks"
                                        required=""></select>
                            </div>
                        </div>
                        <div class="form-group position-inputs">
                            <label for="inputDevicesNumber" class="control-label col-xs-6">Гранатометів</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <select class="form-control" id="inputDevicesNumber" ng-model="data.devicesNumber"
                                            ng-options="t.value as t.label for t in counts" required=""></select>
                                    <span class="input-group-addon">од.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group position-inputs" ng-show="showInterval()">
                            <label for="inputDevicesInterval" class="control-label col-xs-6">Інтервал</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputDevicesInterval"
                                           ng-model="data.interval">
                                    <span class="input-group-addon">м</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group position-inputs">
                            <label for="inputPositionHeight" class="control-label col-xs-6">Висота ВП</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputPositionHeight"
                                           ng-model="data.positionElevation"
                                           required="">
                                    <span class="input-group-addon">м</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6">

                        <div class="form-group meteo-inputs">
                            <label for="inputTemperature" class="control-label col-xs-6">Температура повітря</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputTemperature"
                                           ng-model="data.temperature">
                                    <span class="input-group-addon">град</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group meteo-inputs">
                            <label for="inputWindDirection" class="control-label col-xs-6">Кут вітру</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputWindDirection"
                                           ng-model="data.windDirection">
                                    <span class="input-group-addon">год</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group meteo-inputs">
                            <label for="inputWindSpeed" class="control-label col-xs-6">Швидкість вітру</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="inputWindSpeed"
                                           ng-model="data.windSpeed">
                                    <span class="input-group-addon">м/c</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group other-inputs">
                            <label for="crestHeight" class="control-label col-xs-6">Висота гребеня</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="crestHeight"
                                           ng-model="data.crestHeight">
                                    <span class="input-group-addon">м</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group other-inputs">
                            <label for="crestDistance" class="control-label col-xs-6">Відстань до гребеня</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="crestDistance"
                                           ng-model="data.crestDistance">
                                    <span class="input-group-addon">м</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group other-inputs">
                            <label for="ourForcesDistance" class="control-label col-xs-6">Відстань до наших
                                військ</label>

                            <div class="col-xs-6">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="ourForcesDistance"
                                           ng-model="data.ourForcesDistance">
                                    <span class="input-group-addon">м</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn-calculate">Розрахувати</button>
                    </div>
                </div>
            </form>


            <div class="row" ng-show="calculated()">
                <div class="col-xs-12">
                    <h1 ng-show="result.invalid" class="text-danger">Дальність стрільби за межами ТТХ</h1>

                    <h1 ng-show="isNotSafe()" class="text-danger">Небезпечна стрільба. Ураження своїх військ</h1>
                </div>
                <div class="col-xs-6">
                    <p>Приціл: <span ng-class="{false: 'generic-output', true: 'safety-output'}[isNotSafe()]">{{ result.sights.adjustedSights | s: 'numberFormat': [0, '', '']
                        }}</span></p>

                    <p>Поправка напрямку <span class="generic-output">{{ result.sights.sideAdjustment | s: 'numberFormat':
                        [2, '', ''] }}</span> тис.</p>

                    <p ng-show="movingTarget()">Упередження <span class="generic-output">{{ result.sights.sideMovingAdjustment * 0.01 | s:
                        'numberFormat':
                        [2, '', ''] }}</span> (враховано в поправку напрямку)</p>

                    <p ng-show="showFrontDispersal()">Фронт для 1 АГС <span class="generic-output">{{ result.sights.oneDeviceFront | s:
                        'numberFormat': [2,
                        '', ''] }}</span> тис</p>

                    <p ng-show="showCollapsedFan()">Віяло зосереджене: <span class="generic-output">{{ result.sights.fan | s: 'numberFormat': [2, '',
                        '']
                        }}</span> тис</p>

                    <p ng-show="showWidthFan()">Віяло по ширині: <span class="generic-output">{{ result.sights.fan | s: 'numberFormat': [2, '', '']
                        }}</span> тис</p>

                    <p>Розхід по <span class="generic-output">{{ result.grenadesConsumption.grenadesPerDevice | s: 'numberFormat':
                        [0, '', ''] }}</span> гран/АГС</p>

                    <p>Вузька вилка <span class="generic-output">{{ result.sights.thinFork }}</span> тис</p>

                    <p>ΔX тис <span class="generic-output">{{ result.sights.distanceChangePer1M }}</span> м</p>

                    <p>Час польоту <span class="generic-output">{{ result.sights.flightTime }}</span> с</p>
                </div>
                <div class="col-xs-6">
                    <p ng-show="showSafeSights()">Безпечний приціл <span class="generic-output">{{ result.sights.safeSights }}</span>
                        тис</p>

                    <p ng-show="showMinimalSights()">Мін. приціл через гребінь з цієї позиції <span class="safety-output">{{
                        result.minimalSights.minimalSights }}</span></p>

                    <p ng-show="showMinimalSights()">Через цей приціл можливий приціл <span class="safety-output">{{ result.minimalSights.minimalSightsWithChange }}</span></p>

                    <p ng-show="showMinimalSights()">при мін. дальності ВП-гребінь <span class="safety-output">{{
                        result.minimalSights.minimalDistance
                        }}</span> м</p>

                    <p ng-show="showFrontDispersal()"><span class="front-dispersal-label">Необхідне розсіювання по фронту</span>, 15 м = <span
                            class="generic-output">{{
                        result.sights.frontDispersal
                        | s: 'numberFormat': [2, '', '']}}</span> тис</p>
                </div>
            </div>
        </div>
    </div>
</section>
