<h1 class="app-name">Vatra</h1>

<div class="scrollable">
    <h1 class="scrollable-header app-name">Vatra</h1>

    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/input">Ввести дані <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/tasks">Заплановані зміни <i
                    class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>