<section class="section scrollable">
    <div class="scrollable-content">
        <ol>
            <li>
                <del>Інтерполяція розходу гранат для непарних дальностей (менше 400 рахується як 400)</del>
            </li>
            <li>
                <del>Додати віконце "Вибери характер Площадна" при тапі на Фронт. При цьому блокування введення фронту і
                    глибини вже зроблено.
                </del>
            </li>
            <li>
                <del>Розібратись з дальністю (топографічна+метео)
                    , використати дельта-тисячні
                </del>
            </li>
            <li>
                <del>Додати перевірку вхідних значеннь. Для початку - дальність цілі 1730, а також сумарний приціл 667
                    та
                    768/1167
                </del>
                З технічних причин швидше було зробити показ повідомлення для сумарного прицілу на панелі результатів
            </li>
            <li>
                <del>Поміняти розрахунок поправки на перевищення і поправки на деривацію на основі топографічної
                    дистанції
                </del>
            </li>
            <li>
                <del>Прибрати крапку для прицілу (1234 замість 1.234)</del>
            </li>
            <li>
                <del>Якщо ціль «Точечна» та 2 АГС віяло розраховується по формулі
                <pre>Віяло=(Інтервал/2)*1000/Дальність/100</pre>
                    Округляємо також до 0.01
                </del>
            </li>
            <li>
                <del>Якщо ціль «Площадна» то розрахунки по тій же формулі, що і раніше, але знаки віяла міняти на
                    протилежні.
                </del>
            </li>
            <li>
                <del>Під час роботи було (умовно)

                1 ціль – точечна (до 15*15)

                2 ціль – групова (понад 15*15) Фронт 50, Глибина 50

                3 ціль – точечна (до 15*15).

                При виборі по 3 цілі «точечна» (як і взвгалі при виборі «Точечна) під час «Розрахувати»

                блокувати вивід даних розрахунку, або взагалі не відображати «Фронт для одного АГС» (бо

                ціль точечна) і «Необхідне розсіювання по фронту, 15=…».

                В данній версії прога бере інформацію з неактивної ячейки «Фронт» в якій залишаеться

                старий фронт (по 2 цілі) Фронт 50
                </del>
                Не показується фронт і розсіювання для одиночної цілі
            </li>
            <li>
                <del>Визначення мінімального Прицілу і Дальності до гребня</del>
            </li>
            <li>
                <del>Додано тип цілі - рухома</del>
            </li>
        </ol>
    </div>
</section>