<section class="section scrollable">
    <div class="scrollable-content">
        <ol>
            <li>Інтерполяція розходу гранат для непарних дальностей (менше 400 рахується як 400)</li>
            <li>Додати віконце "Вибери характер Площадна" при тапі на Фронт. При цьому блокування введення фронту і
                глибини вже зроблено.
            </li>
            <li>Розібратись з дальністю (топографічна+метео), використати дельта-тисячні</li>
            <li>Додати перевірку вхідних значеннь. Для початку - дальність цілі 1730, а також сумарний приціл 667 та
                768/1167
            </li>
        </ol>
    </div>
</section>